body {
  font-family: 'Kavivanar', cursive;
}

h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  color: Olive;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
